header {
    color: var(--grey-9);
    padding: 10px;
    background-color: var(--grey-0);
    font-weight: bold;

    width: 100vw;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: center;

    z-index: 3;
}

.header_first {
    width: 100%;
    max-width: 95%;
    
    padding: 8px;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header_first > ul {
    display: flex;
    gap: 50px;
}
.header_first a{
    color: var(--grey-9);
    text-decoration: none;
    position: relative;
}
.header_first a::after{
    content: "";
    width: 0;
    background-color: var(--grey-9);
    height: 2px;
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.3s;
}
.header_first a:hover::after{
    width: 100%;
}

.header_first h1{
    font-size: 1rem;
    position: absolute;
    left: 80px;

}

@media (max-width:760px) {
    .header_first ul {
        display: none;
    }
}